.courses {
  position: relative;
  width: 90vw;
  margin: auto;
}
.courses h2 {
  text-align: center;
  padding-bottom: 20px;
}

.each-course {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  align-items: center;
  padding: 0 3rem;

  justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
  .each-course {
    flex-direction: column;
  }
}
