.courses {
  position: relative;
  width: 90vw;
  margin: auto;
}

.courses h2 {
  text-align: center;
  padding-bottom: 20px;
}

.each-course {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}
