.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.h3 {
  margin: 1rem;
}

.center {
  width: 70%;
  margin: auto;
  display: flex;
  min-height: 50vh;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.486);
  border-radius: 3%;
}

.form {
  width: 50%;
}

.form_ form {
  margin-bottom: 9rem;
}

#btn {
  display: flex;
  justify-content: center;
  color: red;
  padding-bottom: 1rem;
}

.btn {
  padding: 0.7rem 2rem;
  background-color: red;
  margin-top: 0.5rem;
}

.logo {
  justify-self: start;
  display: flex;
  justify-content: flex-start;
}

.form__ {
  width: 50%;
  background-image: url("../../Components/UI/Images/Login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 3% 3% 0;
}

@media screen and (max-width: 440px) {
  .center {
    width: 90%;
    /* margin: 0 1rem; */
  }
}

@media screen and (max-width: 850px) {
  .form__ {
    display: none;
  }
  .form {
    width: 100%;
  }
}
