.navitems {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  transform: translate(-5%);
  padding: 0 1.3rem;
}

.logo {
  justify-self: start;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  width: 80%;
  height: auto;
  max-width: 100%;
}

.navmenu li a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(157, 157, 160);
  transition: all 0.3s ease-in-out;
  border-radius: 0.2rem;
}

.hambuger {
  display: none;
  cursor: pointer;
}

.hambuger i {
  font-size: 1.7rem;
}

.btn {
  padding: 0.8rem 1.8rem;
  background-color: #f00;
}

@media screen and (max-width: 800px) {
  .navmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: -100%;
    position: absolute;
    width: 90%;
    background-color: rgba(208, 21, 21, rgba(17, 17, 18, 0.359));
    top: 5rem;
    backdrop-filter: blur(20px);
    transition: all 0.5s ease-in-out;
    gap: 1rem;
    padding: 3rem;
  }

  .navmenu.active {
    right: 0;
  }

  .hambuger {
    display: block;
  }
}
