.RegistrationFormBody {
  background-color: rgba(10, 8, 75, 0.235);
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.RegistrationLabels {
  margin-bottom: 0.5rem;
}

.RegistrationLabels label {
  display: block;
  margin-bottom: 0.3rem;
  font-family: "Times New Roman", Times, serif;
}

.RegistrationLabels input {
  border-radius: 3px;
  padding: 0.8rem;
  width: 35%;
}
